#Datos obtenidos de: https://www.kaggle.com/datasets/gunjanpathak/melb-data

In [97]:
import pandas as pd
import numpy as np

In [98]:
ruta = "/content/drive/MyDrive/datasets/"
archivo = "melb_data.csv"

In [99]:
datos = pd.read_csv(ruta+archivo)

In [100]:
datos.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [101]:
datos.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [102]:
#renombrar columna indice
#datos.rename(columns={'nombreActual':'nombreNuevo'},inplace=True)
#datos.set_index('indice',inplace=True)

In [103]:
datos.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [104]:
#Libreria modelo de arboles
from sklearn.tree import DecisionTreeRegressor
#Libreria de entrenamiento y pruebas
from sklearn.model_selection import train_test_split

In [105]:
#Variable predictora y
y = datos.Price

In [106]:
#Variables dependientes
columnas_seleccionadas = [ 'Rooms',  'Bathroom', 
       'Landsize',  'Lattitude',
       'Longtitude']
X = datos[columnas_seleccionadas]

In [107]:
#Borramos valores perdidos o nulos
#datos = datos.dropna(axis=0)
#imputacion a los faltantes
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X = pd.DataFrame(imputer.fit_transform(X))
#se pueden borrar el nombre de columnas
X.columns = columnas_seleccionadas
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [108]:
#Obtener variable categorica
object = (X.dtypes=='object')
object

Rooms         False
Bathroom      False
Landsize      False
Lattitude     False
Longtitude    False
dtype: bool

#Separacion entrenamiento y pruebas

In [109]:

train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=0)

#Definimos el modelo

In [110]:
modelo = DecisionTreeRegressor(random_state=0)

In [111]:
modelo.fit(train_X,train_y)

DecisionTreeRegressor(random_state=0)

#Predicciones

In [112]:
print("Predicciones para las siguientes casas: ")
print(test_X)
print("Las predicciones son: ")
prediccion = modelo.predict(test_X)
print(prediccion)

Predicciones para las siguientes casas:
       Rooms  Bathroom  Landsize  Lattitude  Longtitude
8505     4.0       2.0     450.0  -37.86100   144.89850
5523     2.0       1.0     172.0  -37.81000   144.88960
12852    3.0       1.0     581.0  -37.76740   144.82421
4818     3.0       2.0     128.0  -37.85260   145.00710
12812    3.0       2.0     480.0  -37.72523   144.94567
...      ...       ...       ...        ...         ...
12961    3.0       1.0     694.0  -38.03819   145.12443
2572     3.0       1.0     275.0  -37.77790   144.98620
9503     4.0       2.0     493.0  -37.78457   145.10453
356      3.0       1.0       0.0  -37.77230   144.90940
2034     3.0       1.0     537.0  -37.74430   144.94940

[3395 rows x 5 columns]
Las predicciones son:
[1325000.  955000.  571000. ... 1400000.  819000. 1240000.]

In [113]:
#test_X['prediccion']=prediccion
#test_X['real']=test_y

In [114]:
#test_X.head()

#Validacion del modelo

In [115]:
from sklearn.metrics import mean_absolute_error

In [118]:
prediccion = modelo.predict(test_X)
mean_absolute_error(test_y,prediccion)

246934.7526755032

In [119]:
#Funcion obtener error medio
def dame_mae(maximo_nodos, train_X, test_X, train_y,test_y):
  modelo = DecisionTreeRegressor(max_leaf_nodes=maximo_nodos,random_state=1)
  modelo.fit(train_X,train_y)
  prediccion = modelo.predict(test_X)
  mae = mean_absolute_error(test_y,prediccion)
  return mae

In [120]:
#Comparamos con diferentes profundidades
for maximo_nodos in [10,15,30,100,200,1000,5000]:
  mae =dame_mae(maximo_nodos, train_X,test_X,train_y,test_y)
  print("Para {} \t MAE: {}".format(maximo_nodos,mae))

Para 10 	 MAE: 318884.93893314083
Para 15 	 MAE: 301325.0544931967
Para 30 	 MAE: 283080.2456598605
Para 100 	 MAE: 249640.09338342605
Para 200 	 MAE: 237349.54310546134
Para 1000 	 MAE: 233830.70699758435
Para 5000 	 MAE: 245192.18743072596